<div>
     <div class="row" >
		 <h2 style="text-align:center;">Welcome to My Recipes</h2>
            <img src="./api/images/recipes.jpg" 
                 class="img-responsive center-block"
                 style="max-height:505px;padding-bottom:50px"/>
        </div>
        <div class="row" style="text-align:center;">
            <button type="button" style="margin-right:278px;" class="btn btn-primary btn-lg" [routerLink]="['/login']">Login</button>
						<button type="button" class="btn btn-primary btn-lg" [routerLink]="['/registration']">Register</button>
        </div>
</div>