<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <div class="panel-body">
    <div class="row">
		  <form name="form" (ngSubmit)="loginSubmit(loginForm.value, loginForm.valid)" [formGroup]="loginForm" novalidate>
			  <div class="alert alert-success" *ngIf="registered">You have successfully registered.Please login.</div>
			  <div  class="alert alert-danger" *ngIf="submitted && !loginForm.valid">Please fill the required fields</div>
				<div class="alert alert-danger" *ngIf="loginFailed">Please enter valid credentials</div>
        <div class="form-group" [ngClass]="{ 'has-error': submitted && !loginForm.controls['username'].valid }">
          <label for="username">Username</label>
					<div class="addon">
            <div class="glyphicon glyphicon-user"></div>
          </div>
          <input type="text" class="form-control" name="username" [formControl]="loginForm.controls['username']" [(ngModel)]="model.username" required />
          <div class="error-message" *ngIf="submitted && !loginForm.controls['username'].valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': submitted && !loginForm.controls['password'].valid }">
          <label for="password">Password</label>
          <div class="addon">
            <div class="glyphicon glyphicon-lock"></div>
          </div>
          <input type="password" class="form-control" name="password" [formControl]="loginForm.controls['password']" [(ngModel)]="model.password" required />
           <div class="error-message" *ngIf="submitted && !loginForm.controls['password'].valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Login</button>
        </div>
				<div class="form-group">
          <span>Don't have an Account?</span> 
					<a [routerLink]="['/registration']" class="btn btn-link">Create an account</a>
        </div>
      </form>
    </div>
  </div>
</div>