<div>
<h2> Welcome to my Recipes</h2>
<carousel></carousel>
<div class="col-sm-12" style="margin-top:15px;">
  <div class="col-sm-4 text-align-left">
  <button class="btn btn-info" [routerLink]="['/recipeList']">View Latest Recipes</button>
	</div>
	<div class="col-sm-4 text-align-center">
	<button class="btn btn-info" [routerLink]="['/recipeList']">View Saved Recipes</button>
	</div>
	<div class="col-sm-4 text-align-right">
	<button class="btn btn-info" [routerLink]="['/recipeList']">View Recipe By Ingredient</button>
	</div>
</div>
</div>